{# templates/home/home.html.twig #}

{# Héritage du template de base #}
{% extends 'base.html.twig' %}

{# Contenu spécifique - page 'home' #}
{% block body %}

    
{# Bannière image #}
<div id="main-banner">
    <div id="banner-image">
        <figure>
            <img src="{{ asset('img/background-technology.jpg') }}" alt="">
        </figure>  
    </div>

    <div id="profil-image">
        <figure>
            <img src="{{ asset('img/profil-image.jpg') }}" alt="">
        </figure>  
    </div>

    <div id="banner-title">
        <h1>Bienvenue sur mon<span> portfolio</span></h1>
    </div>
    

</div>

<div class="container">      
    <section id="home_activités">
        <h2>Mes activités de développeur web</h2>
        <hr>
    </section>

    <section id="home_profil">
        <h2>Qui suis-je ?</h2>
        <hr>
    </section>

    <section id="home_parcours">
        <h2>Mon parcours</h2>

        <article id="home_experiences">
            <h3>Expériences professionnelles</h3>
        </article>
         <article id="home_formations">
            <h3>Mes qualifications</h3>
        </article>
        <hr>
    </section>
</div>

{% endblock body %}
  




      