{# templates/emails/email_user_notification.html.twig #}

{# Template utilisé pour le corps du mail de notification #}
<h3>Confirmation de votre inscription sur le portfolio de Xavier DAVID !</h3>

Bonjour {{user.username}} ! Votre inscription a bien été prise en compte. 

Vos identifiants de connexion :
Email : {{user.email}}
Mot de passe : {{user.password}}

Se connecter : 