{# templates/emails/email_notification.html.twig #}

{# Template utilisé pour le corps du mail de notification #}
<h3>Vous avez reçu un nouveau message sur votre portfolio !</h3>

Envoyé par : {{contact.name}}
Email : {{contact.mail}}
Téléphone : {{contact.phone}}

Message : {{contact.message}}

