<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# Mobile device encode #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Bootstrap link #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
        
        <title>{% block title %}Portfolio de Xavier DAVID{% endblock %}</title>
        
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            {# css link #}
            <link rel="stylesheet" href="/build/app.css">
        {% endblock %}
    </head>
    
    <body>
        
        {# Header du site #}
        <header> 
            <div id="logo_titre"> {# Logo #}
                <p>Mon logo</p>
            </div>

            <nav> {# Bloc de navigation #}
                <ul> {# Liens de navigation #}
                    <li><a href="/">Accueil</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Connexion</a></li>
                </ul>
            </nav>
        </header>
        
        {# Conteneur du bloc 'body' #}
        <div class="container">  
            {% block body %}{% endblock %}
        </div>

        
        
        {# Javascript #}
        {% block javascript %}
            <!-- Tiny MCE API CDN link -->
            <script src="https://cdn.tiny.cloud/1/ap3ws4up4zey4cecb360l3ctoj2w9z3wfuu6l251n0kkuybj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
            <script>tinymce.init({
                selector: '#articleContent',
                mode:"exact",
                elements:"contenu",
                entity_encoding : "raw",
                encoding: "UTF-8",
                language : 'fr_FR'
            });</script>
        {% endblock %}
    </body>
</html>
