{% extends 'base.html.twig' %}

{% block title %} Page non trouvée ! {% endblock title %}

{% block body %}

    <div class="container" id="error_container">
        <h2><span><i class="fas fa-exclamation-circle"></i></span>Oups, la page que vous recherchez n'existe pas !</h2>
        <p>Je vous invite à revenir sur la page d'accueil.</p>
        <a href=" {{ path('home')}}" class="btn btn-primary">Retour à l'accueil</a>
    
    </div>

{% endblock %}